{% load thumbnail %}

{% block content %}
	<a href="{% url "user_health" %}">MY HEALTH TRACKER</a> | <a href="{% url "mydoctor_list" %}">MY DOCTOR</a> | <a href="#">MY TIMETABLE</a> | <a href="{% url "receive_message_list" %}">MESSAGE</a>

<h2>MY INFO</h2>
	{% thumbnail user.profile.photo "100x100" crop="100%" as im %}
        <img src="{{ im.url }}">
    {% endthumbnail %}
    
	<p style="font-size: 20px">
		USERNAME: {{request.user.username}}<br>
		LAST NAME: {{request.user.last_name}}<br>
		FIRST NAME: {{request.user.first_name}}<br>
		INTRODUCTION : {{request.user.profile.introduction }}<br>
		EMAIL : {{request.user.email}}<br>
		GENDER : {{request.user.profile.gender}}<br>
		PHONE NUMBER: {{request.user.profile.phone}}<br>
		ADDRESS : {{request.user.profile.address}}<br>
		BIRTH : {{request.user.profile.date_of_birth}}<br>
	</p>
	
{% endblock %}